<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="card-product.css" rel="stylesheet" />
    <title>Card Product</title>
  </head>
  <body>
    <div class="Card">
      <div class="main__img"></div>
      <div class="info">
        <h3>Tempat Pensil</h3>
        <h4>Rp 20.000,00</h4>
      </div>
    </div>
  </body>
</html>
