<html lang="en">

<!-- Original Code : https://codepen.io/juliepark/pen/erOoeZ -->
<!-- Author : https://codepen.io/juliepark -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STOLEN PAGE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="youStyle.css">
</head>

<body>

    <div id="background"></div>
    <div class="top">
        <h1>404</h1>
        <h3>page not found</h3>
    </div>
    <div class="container">
        <div class="ghost-copy">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
        </div>
        <div class="ghost">
            <div class="face">
                <div class="eye"></div>
                <div class="eye-right"></div>
                <div class="mouth"></div>
            </div>
        </div>
        <div class="shadow"></div>
    </div>
    <div class="bottom">
        <p>Boo, looks like a ghost stole this page!</p>
        <form class="search">
            <input type="text" class="search-bar" placeholder="Search">
            <button type="submit" class="search-btn">
                <i class="fa fa-search"></i>
            </button>
        </form>
        <div class="buttons">
            <button class="btn">Back</button>
            <button class="btn">Home</button>
        </div>
    </div>

    <footer>
        <p>made by <a href="https://codepen.io/juliepark"> julie</a> ♡
    </footer>

</body>

</html>