<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Modal Template</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <button class="open-modal-btn">
      Open Modal
    </button>

    <div class="container-modal">
      <div class="modal">
        <div class="header-modal">
          <h2>Im a Header</h2>
        </div>
        <div class="body-modal">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate deserunt, corporis aut id doloremque corrupti itaque dolore cum fugiat officia!</p>
        </div>
        <button class="close-modal-btn">
          Close Modal
        </button>
      </div>
    </div>

<script src="main.js"></script>
  </body>
</html>