<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8" data-color-mode="light">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Tab Icon -->
    <link rel="icon" href="img/logo.png">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    <!-- My CSS -->
    <link rel="stylesheet" href="css/style.css">
    
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <title>Your Web Title</title>

</head>

<body id="onTop">

    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="img/logo.png" alt="logo" title="YourName" width="36" height="36"></a>
            <button class="navbar-toggler border-0 pr-0" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <img src="img/burger-expand-3.webp" alt="option" title="Expand Navigation" width="26"></span> -->
                <div class="nav-menu" onclick="openNavMenu(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                  </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mx-auto navbarLinks">
                    <a class="nav-item nav-link mx-2" href="#portfolio">Portfolio</a>
                    <a class="nav-item nav-link mx-2" href="#skill">Skill</a>
                    <a class="nav-item nav-link mx-2" href="#about">About</a>
                    <a class="nav-item nav-link mx-2" href="#history">History</a>
                </div>
                <a class="nav-item nav-link mx-2" href="#contactme"><i class="fas fa-paper-plane mr-2"></i>Contact me!</a>
                <button class="btnChangeTheme btn btn-outline-dark btn-sm border-0 ml-3 shadow-none">
                    <i class="far fa-moon"></i>
                </button>
            </div>
        </div>
    </nav>
    <!-- End of static navbar -->

    <!-- Go top button -->
    <div class="row">
        <div class="col">
            <a class="goTop btn btn-secondary fixed-bottom mr-3 mb-3 ml-auto border-0 d-none" href="#onTop"
                style="width: 50px; height: 50px;">
                <i class="fas fa-chevron-up h4 pt-2"></i>
            </a>
        </div>
    </div>
    <!-- End of go top button -->

    <!-- Jumbotron section -->
    <div id="jumbotron" class="container">
        <div class="row">
            
            <div class="col-md-4 text-center order-md-2">
                <img class="jumbotronImg shadow-lg bg-white" height="380" src="img/profile.png" alt="Your Photo">
            </div>
            
            <div class="col-md-6 offset-lg-1 jumbotronTitle">
                <small class="mb-0">Hello,</small>
                <h1>I Am [Your Name Here]</h1>
                <p class="mb-2 font-weight-lighter">[Your Job Here]</p>
                    <a href="#" class="h4 mx-1 text-secondary" title="[Your Socmed]"><i class="far fa-edit"></i></a>
                <br>
                <a href="#about" class="btn btn-dark nav-item mt-4 py-2">About me</a>
            </div>
        </div>
    </div>
    <!-- End of jumbotron section -->

    <!-- About me section -->
    <div id="about" class="container mb-5">
        <div class="row">
            <div class="col-md">
                <div class="row">
                    <div class="col-md">
                        <h3 class="mb-4 text-center">About me</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col offset-lg-2">
                        <div class="card border-0 p-3 shadow">
                            <div class="card-body">
                                <p class="card-text text-justify">[Your about Here]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of about me section -->

    <!-- Hobby section -->
    <div id="hobby" class="container" style="margin-bottom: 100px;">
        <div class="row mb-4">
            <div class="col-md">
                <h3 class="text-center">My Hobbies</h3>
            </div>
        </div>
                <div class="row">
                    <div class="col-md">
                        <div class="card border-0 bg-transparent mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="img/banner.png" class="card-img shadow-lg" title="Photo bt Luca Bravo on Unsplash" alt="hobby">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-0 pl-3 mt-2 mb-3">
                                        <h5 class="card-title">[Hobby Title Here]</h5>
                                        <p class="card-text">[Description Here]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="card border-0 bg-transparent mb-3 float-right" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4 order-md-2">
                                    <img src="img/banner.png" class="card-img shadow-lg" title="Photo bt Luca Bravo on Unsplash" alt="hobby">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-0 pr-md-3 pl-3 mt-2 mb-3 text-md-right">
                                        <h5 class="card-title">[Hobby Title Here]</h5>
                                        <p class="card-text">[Description Here]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <!-- End of hobby section -->

    <!-- Skill section -->
    <div id="skill" class="container mb-5">
        <div class="row mb-4">
            <div class="col-md text-center">
                <h3>My Skills</h3>
            </div>
        </div>
        <div class="row">
                <div class="col-md mb-3">
                    <div class="card border-0 bg-transparent">
                        <i class="fas fa-edit text-center"></i>
                        <div class="card-body text-center">
                            <h5 class="card-title mb-1">[Skill Name Here]</h5>
                            <p class="card-text">[Description Here]</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- End of skill section -->

    <!-- Portfolio section -->
    <div id="portfolio" class="container mb-5">
        <div class="row">
            <div class="col text-center mb-4">
                <h3>My Portfolio</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card shadow border-0">
                    <img src="img/banner.png" class="card-img-top" alt="portfolio">
                    <div class="card-body">
                        <h5 class="card-title">[Heading Here]</h5>
                        <p class="card-text text-justify">[Description Here]</p>
                        <a class="btn btn-dark px-3 nav-item" href="#" target="blank">Show</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of portfolio section -->

    <!-- History section -->
    <div id="history" class="container mb-5">
        <div class="row">
            <div class="col text-center mb-4">
                <h3>My History</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card bg-0 border-0 shadow" style="border-radius: 30px;">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md my-3">
                        <h5 class="text-center mb-3">Education</h5>
                        <ul class="timeline position-relative">
                            <li class="list-unstyled pl-3">
                                <h6>[Education Title Here]</h6>
                                <p>[Description Here]</p>
                            </li>
                        </ul>
                      </div>
                      <div class="col-md my-3">
                        <h5 class="text-center mb-3">Work Experience</h5>
                        <ul class="timeline position-relative">
                            <h6>[Experience Title Here]</h6>
                            <p>[Description Here]</p>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of history section -->

    <!-- Contact me section -->
    <div id="contactme" class="container">
        <div class="row">
            <div class="col-md align-self-center text-center mb-3">
                <h3>Contact me!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control shadow-sm" id="name" name="name" placeholder="name" required autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control shadow-sm" id="email" name="email" placeholder="email" required autocomplete="off">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control shadow-sm" id="messages" name="messages" rows="10" placeholder="message" required autocomplete="off"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark px-3 py-2 font-weight-bold btn-send">Send</button>
                    
                    <button class="btn btn-dark px-3 py-2 font-weight-bold btn-loading d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </form>
                <div class="alert alert-success alert-dismissible fade show d-none my-alert mt-3" role="alert">
                    <strong>Yeay!</strong> The messages has been sent :)
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of contact me section -->

    <!-- Footer -->
    <footer id="footer" class="pt-5 myFooter" style="margin-top: 140px;">
        <div class="container">
            <div class="row pb-3">
                <div class="col-md-4 mb-5">
                    <h6 class="mb-2">Contributions</h6>
                    <a class="d-block" href="#">[Some Contribution]</a>
                </div>
                <div class="col-md-4 mb-3">
                    <h6 class="mb-2">This template</h6>
                    <a class="d-block" href="https://github.com/AdhyWiranto44/adhywiranto44.github.io">Github</a>
                </div>
                <div class="col-md-4 mb-3">
                    <h6 class="mb-2">Made with</h6>
                    <a class="d-block" href="https://getbootstrap.com/">Bootstrap</a>
                    <a class="d-block" href="https://fontawesome.com/">Fontawesome</a>
                </div>
            </div>
            <div class="row pt-3 border-top border-light">
                <div class="col-md-6 text-center text-md-left pb-3">
                    <small class="mr-2">&#169; 2021. Made with &#10084; By [Your Name Here]. Template By <a href="https://github.com/AdhyWiranto44/">Adhy Wiranto</a></small>
                </div>
                <div class="col-md-6 text-center text-md-right pb-3">
                    <a href="#" class="h4 mx-1 text-secondary" title="[Your Socmed]"><i class="far fa-edit"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="vendor/jquery/jquery.js"></script>
    <script src="vendor/jquery/jquery.easing.1.3.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- My own script -->
    <script src="js/script.js"></script>
</body>

</html>
