<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>responsive navbar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    <nav class="float-left">
      <input type="checkbox" id="nav-check" />
      <label for="nav-check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="nav-logo">logo</label>
      <ul class="hover-pill slide-left">
        <li><a class="active" href="#">beranda</a></li>
        <li><a href="#">tentang</a></li>
        <li><a href="#">proyek</a></li>
        <li><a href="#">kontak</a></li>
      </ul>
    </nav>
  </body>
</html>
