.profile {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
.card__main {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.profile__main {
  margin: auto;
  display: flex;
  position: relative;
  justify-content: center;
}
.info {
  background-color: aqua;
  margin-top: 70px;
  width: 140px;
  position: absolute;
  height: 140px;
  z-index: -99;
  line-height: 130px;
  padding-left: 30px;
  box-sizing: border-box;
  border: 1px solid black;
}

.profile__main img {
  border: 1px solid salmon;
  z-index: 9999;
}
.profile__main img:hover {
  border: 13px solid white;
  transition: all 0.5s ease-in-out;
}
