<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card profile</title>
    <link rel="stylesheet" href="Cardprofile.css" />
  </head>
  <body>
    <div class="card__main">
      <div class="profile__main">
        <img src="gradientdefault.png" class="profile" />
        <div class="info">
          <h3>Hello kuro</h3>
        </div>
      </div>
    </div>
  </body>
</html>
