<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Monster.css">
</head>

<body>

    <div class="wrapper">
        <div class="TextHolder">
            <div class="Texts">
                <div class="FourOhFour">404</div>
                <div class="Maybe">GUH.. Maybe.. We have <span>PROBLEMS HERE</span></div>
                <div class="Bad">MY BAD this page couldn't be found.</div>
                <div class="Return">RETURN HOME</div>
            </div>
        </div>
        <div class="Body">
            <div class="LeftEye"></div>
            <div class="RightEye"></div>
            <div class="EyeShadows"></div>
            <div class="Mouth"></div>
            <div class="MouthShadows"></div>
            <div class="Theet"></div>
            <div class="BodyTexture"></div>
        </div>
        <div class="Horns">
            <div class="HornsExtras"></div>
        </div>
        <div class="LeftHand"></div>
        <div class="RightHand"></div>
    </div>
    <h4>Move ur mouse <br> left or Right :)</h4>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="monsterjs.js"></script>

</body>

</html>