* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Rubik", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #f0f0f0;
  color: #262626;
}

.main {
  padding-bottom: 85px;
}

.header {
  margin: 20px 0 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar img {
  border-radius: 50%;
  width: 96px;
  height: 96px;
  margin-bottom: 12px;
}

.username {
  text-decoration: underline;
}

.long-btn {
  margin: 20px auto;
  border-radius: 20px;
  border: 2px solid #262626;
  padding: 5px;
  max-width: 540px;
  height: 42px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #262626;
  text-decoration: none;
  font-size: 18px;
}

.long-btn:hover {
  color: #f0f0f0;
  background-color: #262626;
  transition-duration: 0.3s;
}

.circle ul {
  margin: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.circle ul li {
  list-style: none;
  margin: 0 5px;
}

.circle ul li .fab {
  font-size: 36px;
  line-height: 50px;
  transition: 0.6s;
  color: #262626;
  list-style: none;
}

.circle ul li a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  transition: 0.5s;
}

.footer {
  text-align: center;
  margin-bottom: 15px;
}