<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title>My Profile Card</title>
</head>
<body>
    <div class="profile-container">
        <div class="img-container">
            <img src="img/KamisatoAyaka-min.png" alt="profile">
        </div>
        <!--Add your biodata-->
        <p class="info full-name">Kamisato Ayaka</p>
        <p class="skill">Web Developer I Web Design</p>
        <p class="skill">Design Graphic</p>
        <p class="place">Cijantung, Jakarta Timur</p>
        <!--Post Info-->
        <div class="posts-info">
            <p><span>100</span> Posts</p>
            <p><span>1500</span> Likes</p>
            <p><span>100</span> Works</p>
        </div>
        <!--Add your Social Media-->
        <p class="sosmed">My Social Media</p>
        <div class="social-container">
            <button class="facebook" >
                <a href="www.facebook.com"><img src="img/fb.png" alt="facebook"></a>
            </button>
            <button class="instagram">
                <a href="www.instagram.com"><img src="img/ig.png" alt="instagram"></a>
            </button>
            <button class="twitter">
                <a href="www.twitter.com"><img src="img/twit.png" alt="twitter"></a>
            </button>
            <button class="github">
                <a href="www.github.com"><img src="img/github.png" alt="github"></a>
            </button>
        </div>
        <!--Button follow & Message-->
        <button class="action">
            <a href="www.instagram.com">Follow</a>
        </button>
        <button class="action message">
            <a href="www.whatsapp.com">Message</a>
        </button>
    </div>
</body>
</html>