<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./style.css">
    <title>My Profile Card</title>
</head>
<body>
    <div class="profileContainer">
        <div class="img-container">
            <img src="img/KamisatoAyaka-min.png" alt="profile">
        </div>
        <!--Add your biodata-->
        <p class="full-name">Kamisato Ayaka</p>
        <p class="skill">Web Developer I Vector Graphic</p>
        <p class="skill">Design Graphic</p>
        <p class="place">Gunung Putri, Bogor</p>
        <!--Post Info-->
        <div class="posts-info">
            <p><span>100</span> Posts</p>
            <p><span>1500</span> Likes</p>
            <p><span>100</span> Works</p>
        </div>
        <!--Add your Social Media-->
        <!--Ganti link pada <a href=""> , menjadi link sosial media yang digunakan-->  
        <p class="sosmed">My Social Media</p>
        <div class="social-media">
            <button class="instagram">
            <a href="https://www.instagram.com"><i class='bi bi-instagram' ></i></a>
            </button>
            <button class="twitter">
            <a href="https://twitter.com"><i class='bi bi-twitter'></i></a>
            </button>
            <button class="github">
            <a href="https://github.com"><i class='bi bi-github'></i></a>
            </button>
            <button class="devianart">
            <a href="https://www.deviantart.com"><i class='bi bi-vector-pen'></i></a>
            </button>
        </div>
        <!--Button follow & Message-->
        <button class="action">
            <a href="https://www.instagram.com">Follow</a>
        </button>
        <button class="action message">
            <a href="https://www.deviantart.com">Message</a>
        </button>
    </div>
</body>
</html>
