<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <!--Font Awasome-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- owl carousel -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <!-- font google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <!-- open loading page -->

    <title>Landing Page</title>
  </head>
  <body>

    <link rel="stylesheet" href="style.css">
    

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#">Bxtre</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#price">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- A Navbar -->

    <!-- Jumbotron -->
    <div class="jumbotron">
      <div class="jumbotron-isi container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 justify-content-center text">
            <h1>A trusted provider of <span>Courier Services</span></h1>
            <p>We deliver your products safely to your home in a reasonable time</p>
            <a href="#" class="btn btn-jumbotron">Get Started</a>
          </div>
          <div class="col-lg-6 justify-content-center img">
            <img src="img/box.png" alt="" class="img-fluid" width="750">
          </div>
        </div>
      </div>
    </div>
    <!-- A Jumbotron -->

    <!-- About -->
    <section id="about">
      <div class="about">
        <div class="container">
          <div class="about-text text-center">
            <a href="#" class="btn">About</a>
            <h1>Find Out More About Us</h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          </div>
          <div class="isi-about">
            <div class="row justify-content-center">
              <div class="col-lg-6 justify-content-center">
                <img src="img/men.png" alt="" width="600" class="img-fluid">
              </div>
              <div class="col-lg-6 justify-content-center">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                <!-- accordion-->
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          <h6>has full features</h6>
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non. </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          <h6>The standard chunk of Lorem Ipsum used</h6>
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          <h6>generated Lorem Ipsum is therefore always</h6>
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33</div>
                      </div>
                    </div>
                  </div>
                <!-- A accordion -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- A About-->

    <!-- Services -->
    <section id="services">
      <div class="services">
        <div class="container">
          <div class="service-text text-center">
            <a href="#" class="btn">services</a>
            <h1>Our services for You</h1>
            <p>On the other hand, we denounce with righteous indignation and dislike men who</p>
          </div>
          <div class="row justify-content-center d-flex services-isi">
          <!--card-->
            <div class="col-lg-4 col-md-6 justify-content-center d-flex">
              <div class="card-services text-center">
                <img src="img/bs.png" class="card-img-top" alt="..." width="100">
                <div class="card-body">
                  <h5>Business Services</h5>
                  <div class="isi-service-p">
                    <p class="p-service">Offering home delivery around the city, where your products will be at your doorstep within 48-72 hours.</p>
                    <ul class="list-service">
                      <li><p>Corporate goods</p></li>
                      <li><p>Shipment</p></li>
                      <li><p>Accesories</p></li>
                    </ul>
                  </div>
                  <div class="button-learn">
                    <a href="#" class="btn btn-border">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          <!--card-->
          <!--card-->
            <div class="col-lg-4 col-md-6 justify-content-center d-flex ">
              <div class="card-services text-center">
                <img src="img/ss.png" class="card-img-top" alt="..."width="100">
                <div class="card-body">
                  <h5>Statewide Services</h5>
                  <div class="isi-service-p">
                    <p class="p-service">Offering home delivery around the city, where your products will be at your doorstep within 48-72 hours.</p>
                    <ul class="list-service">
                      <li><p>Unlimited Bandwidth</p></li>
                      <li><p>Shipment</p></li>
                      <li><p>Accesories</p></li>
                    </ul>
                  </div>
                  <div class="button-learn">
                    <a href="#" class="btn btn-tengah">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          <!--card-->
          <!--card-->
            <div class="col-lg-4 col-md-6 justify-content-center d-flex">
              <div class="card-services text-center">
                <img src="img/ps.png" class="card-img-top" alt="..." width="100">
                <div class="card-body">
                  <h5>Personal Services</h5>
                  <div class="isi-service-p">
                    <p class="p-service">Offering home delivery around the city, where your products will be at your doorstep within 48-72 hours.</p>
                    <ul class="list-service">
                      <li><p>Corporate goods</p></li>
                      <li><p>Encrypted Connection</p></li>
                      <li><p>Yes Traffic Logs</p></li>
                    </ul>
                  </div>
                  <div class="button-learn">
                    <a href="#" class="btn btn-border">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          <!--card-->
          </div>
        </div>
      </div>
    </section>
    <!-- A Services -->

    <!-- Team -->
    <section id="team">
      <div class="team">
        <div class="container">
          <div class="team-title text-center">
            <a href="#" class="btn">team</a>
            <h1>Our awesome Clients</h1>
            <p>On the other hand, we denounce with righteous indignation and dislike men who</p>
          </div>
          <div class="wrapper">
             <div class="carousel owl-carousel">
              <!-- bar 1 -->
                <div class="card card-1">
                   <div class="card-body text-center">
                     <div class="isi-card-body text-center">
                       <p>I'm loving the look and the very useful included complete page templates. Such a time saver!I'm also glad to see Bootstrap v5 support coming.</p>
                       <div class="icon">
                          <i class="bi bi-chat-square-quote"></i>
                       </div>
                       <h5>" Fernado Diazs "</h5>
                     </div>
                   </div>
                </div>
                <div class="card card-2">
                   <div class="card-body text-center">
                     <div class="isi-card-body text-center">
                       <p>Suspendisse et mattis dolor. Praesent sit amet eros erat. Quisque in porttitor ligula. Proin finibus luctus tellus, ut ullamcorper turpis dictum ac.</p>
                       <div class="icon">
                          <i class="bi bi-chat-square-quote"></i>
                       </div>
                       <h5>" Tanya Guxzon "</h5>
                     </div>
                   </div>
                </div>
                <div class="card card-3">
                   <div class="card-body text-center">
                     <div class="isi-card-body text-center">
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum luctus ultrices. Vestibulum sed venenatis ipsum. Proin justo massa, congue facilisis.</p>
                       <div class="icon">
                          <i class="bi bi-chat-square-quote"></i>
                       </div>
                       <h5>" Jonathan William "</h5>
                     </div>
                   </div>
                </div>
                <!--bar2-->
                <div class="card card-4">
                   <div class="card-body text-center">
                     <div class="isi-card-body text-center">
                       <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec varius est lacus, sit amet ullamcorper purus fringilla non.</p>
                       <div class="icon">
                          <i class="bi bi-chat-square-quote"></i>
                       </div>
                       <h5>" Olivia Harrey "</h5>
                     </div>
                   </div>
                </div>
                <div class="card card-5">
                   <div class="card-body text-center">
                     <div class="isi-card-body text-center">
                       <p>Sed elementum lectus convallis diam elementum, at aliquam ipsum rhoncus. Pellentesque nec dictum diam, non volutpat orci.</p>
                       <div class="icon">
                          <i class="bi bi-chat-square-quote"></i>
                       </div>
                       <h5>" Kelvin Hammet "</h5>
                     </div>
                   </div>
                </div>
                <div class="card card-6">
                   <div class="card-body text-center">
                     <div class="isi-card-body text-center">
                       <p>fringilla posuere dolor. Nulla et nisl cursus, euismod nunc at, finibus nibh. Ut non lorem placerat tellus dictum interdum et accumsan turpis.</p>
                       <div class="icon">
                          <i class="bi bi-chat-square-quote"></i>
                       </div>
                       <h5>" Kenneth M "</h5>
                     </div>
                   </div>
                </div>
                <!-- bar3 -->
                <div class="card card-4">
                   <div class="card-body text-center">
                     <div class="isi-card-body text-center">
                       <p>because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes.</p>
                       <div class="icon">
                          <i class="bi bi-chat-square-quote"></i>
                       </div>
                       <h5>" Haty Parter "</h5>
                     </div>
                   </div>
                </div>
                <div class="card card-5">
                   <div class="card-body text-center">
                     <div class="isi-card-body text-center">
                       <p>we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
                       <div class="icon">
                          <i class="bi bi-chat-square-quote"></i>
                       </div>
                       <h5>" Anderson Meyer "</h5>
                     </div>
                   </div>
                </div>
                <div class="card card-6">
                   <div class="card-body text-center">
                     <div class="isi-card-body text-center">
                       <p>fringilla posuere dolor. Nulla et nisl cursus, euismod nunc at, finibus nibh. Ut non lorem placerat tellus dictum interdum et accumsan turpis.</p>
                       <div class="icon">
                          <i class="bi bi-chat-square-quote"></i>
                       </div>
                       <h5>" Wilson Vitoria "</h5>
                     </div>
                   </div>
                </div>
                <!-- selesai -->
             </div>
          </div>
        </div>
      </div>
    </section>
    <!-- A Team -->

    <!-- Brand -->
    <section id="brand">
      <div class="brand">
        <div class="container">
          <div class="row justify-content-center d-flex">
           <div class="col-lg-3 col-md-6 justify-content-center d-flex">
              <img src="img/logo-godrej.png">
            </div>
            <div class="col-lg-3 col-md-6 justify-content-center d-flex">
              <img src="img/logo-oppo.png">
            </div>
            <div class="col-lg-3 col-md-6 justify-content-center d-flex">
              <img src="img/logo-coca-cola.png">
            </div>
            <div class="col-lg-3 col-md-6 justify-content-center d-flex">
              <img src="img/logo-paypal.png">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- A Brand -->

    <!-- Pricing -->
    <section id="price">
      <div class="container">
        <div class="price">
          <div class="price-title text-center">
            <a href="#" class="btn">pricing</a>
            <h1>Affordable and Safe Price</h1>
            <p>On the other hand, we denounce with righteous indignation and dislike men who price</p>
          </div>
          <div class="card-pricing">
            <div class="row justify-content-center d-flex">
              <!--card-->
                <div class="col-lg-4 col-md-6 justify-content-center d-flex">
                  <div class="card-price text-center">
                    <img src="img/p.png" class="card-img-top" alt="..." width="100">
                    <div class="card-body">
                      <h5>Basic</h5>
                      <div class="isi-service-p">
                        <ul class="list-price">
                          <li><p>Corporate goods</p></li>
                          <li><p>Shipment</p></li>
                          <li><p>Accesories</p></li>
                          <li><p>Unlimited Bandwidth</p></li>
                          <li><p>Shipment</p></li>
                          <li><p>Accesories</p></li>
                        </ul>
                        <h4 class="text-center price-isi">$<span>2.99</span></h4>
                      </div>
                      <div class="button-learn">
                        <a href="#" class="btn btn-border">Buy Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              <!--card-->
              <!--card-->
                <div class="col-lg-4 col-md-6 justify-content-center d-flex ">
                  <div class="card-price text-center">
                    <img src="img/p.png" class="card-img-top" alt="..."width="100">
                    <div class="card-body">
                      <h5>Standard</h5>
                      <div class="isi-service-p">
                        <ul class="list-price">
                          <li><p>Unlimited Bandwidth</p></li>
                          <li><p>Shipment</p></li>
                          <li><p>Accesories</p></li>
                          <li><p>Unlimited Bandwidth</p></li>
                          <li><p>Shipment</p></li>
                          <li><p>Accesories</p></li>
                        </ul>
                        <h4 class="text-center price-isi">$<span>4.99</span></h4>
                      </div>
                      <div class="button-learn">
                        <a href="#" class="btn btn-tengah">Buy Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              <!--card-->
              <!--card-->
                <div class="col-lg-4 col-md-6 justify-content-center d-flex">
                  <div class="card-price text-center">
                    <img src="img/p.png" class="card-img-top" alt="..." width="100">
                    <div class="card-body">
                      <h5>Premium</h5>
                      <div class="isi-service-p">
                        <ul class="list-price">
                          <li><p>Corporate goods</p></li>
                          <li><p>Encrypted Connection</p></li>
                          <li><p>Yes Traffic Logs</p></li>
                          <li><p>Unlimited Bandwidth</p></li>
                          <li><p>Shipment</p></li>
                          <li><p>Accesories</p></li>
                        </ul>
                        <h4 class="text-center price-isi">$<span>8.99</span></h4>
                      </div>
                      <div class="button-learn">
                        <a href="#" class="btn btn-border">Buy Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              <!--card-->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- A Pricing -->

    <!-- Contact -->
    <section id="contact" style=>
        <div class="container">
            <div class="row text-center mb-5">
                <div class="contact-title text-center">
                  <a href="#" class="btn">contact</a>
                  <h1>Contact us Below</h1>
                  <p>On the other hand, we denounce with righteous indignation and dislike men who</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-7 d-flex justify-content-center">
                  <div class="col-md-6">
                    <div class="alert alert-info alert-dismissible fade show my-alert d-none" role="alert">
                        <strong>Thank You!</strong> We have received your message.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <form name='contact-my-website'>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" aria-describedby="name" name="nama">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" aria-describedby="email" name="email">
                        </div>
                        <div class="mb-3">
                          <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                          <textarea class="form-control" id="pesan" rows="3" name="pesan"></textarea>
                        </div>
                        <button type="submit" class="btn btn-kirim send float-end">Send</button>

                        <button class="btn-load btn-loading float-end d-none" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <!-- A Contact -->

    <!-- Form -->
    <!-- Section: Form -->
    <!-- Footer -->
<footer class="text-center text-lg-start text-muted">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: #6c63ff">
            bxtre
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: #6c63ff">
            Other links 
          </h6>
          <p>
            <a href="#!" class="text-reset">Blogs</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Movers website</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Traffic Update</a>
          </p>
          <p>
            <a href="#!" class="text-reset">News</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: #6c63ff">
            Services
          </h6>
          <p>
            <a href="#!" class="text-reset">Corporate goods</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Artworks</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Documents</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: #6c63ff">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-3 footer-bawah textfooter-bawah" style="background-color: #6C63FF;">
    © 2021 Copyright:
    <a class="text-a" href="#">Bxtre.LandingPage</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
    <!-- Section: Form -->
    <!-- A Form -->

    <!-- navbar scroll fixed -->
    <script>
      document.addEventListener("scroll", function () {
        const navbar = document.querySelector("nav");

        if (this.body.scrollTop > 1 || this.documentElement.scrollTop > 1) {
          navbar.classList.add("nav-scrolled", "fixed-top");
        } else {
          navbar.classList.remove("nav-scrolled", "fixed-top");
        }
      });
    </script>   
    <!-- A navbar scroll fixed -->

    <script>
         $(".carousel").owlCarousel({
           margin: 20,
           loop: true,
           autoplay: true,
           autoplayTimeout: 2000,
           autoplayHoverPause: true,
           responsive: {
             0:{
               items:1,
               nav: false
             },
             600:{
               items:2,
               nav: false
             },
             1000:{
               items:3,
               nav: false
             }
           }
         });
      </script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>
